@using System.Drawing
@model DXWebApplication2Responsive.Models.Examination.PlanRequest
<div class="col-lg-8">
   
@*<h3 class="col-lg-10">@ViewBag.Title</h3>
    @using (Html.BeginForm("Plan", "AviceN3Exam", FormMethod.Post))
    {

        @Html.HiddenFor(m => m.Guid)
        @Html.HiddenFor(m => m.IdLpu)
        @Html.LabelFor(m => m.IdPat, "Введите пациента №")
        <br />
        @Html.TextBoxFor(m => m.IdPat)
        <br /><br />
        @Html.LabelFor(m => m.Servid, "Введите диспансеризации номер")
        <br />
        @Html.TextBoxFor(m => m.Servid)
        <p><input type="submit" value="Отправить" /></p>
    }*@
</div>