@using System.Drawing
@model DXWebApplication1.Models.Examination.PlanRequest
<div class="col-lg-8">
    @using (Html.BeginForm())
    {
        @Html.DevExpress().FormLayout(settings => {
                settings.Name = "detailFormLayout";
                settings.SettingsAdaptivity.AdaptivityMode = FormLayoutAdaptivityMode.SingleColumnWindowLimit;
                settings.SettingsAdaptivity.SwitchToSingleColumnAtWindowInnerWidth = 500;
                settings.ControlStyle.CssClass = "formLayout";
                                                     // settings.Styles.Style.BackColor = Color.Transparent;
                settings.Items.AddGroupItem(g => {
                    g.Caption = "План диспансеризации";
                    g.ColCount = 5;
                    g.UseDefaultPaddings = false;
                    g.Paddings.PaddingTop = Unit.Pixel(10);
                    g.GroupBoxDecoration = GroupBoxDecoration.HeadingLine;
                    g.GroupBoxStyle.Caption.Font.Bold = true;
                    g.GroupBoxStyle.Caption.Font.Size = 16;

                    g.Items.Add(m => m.IdPat, i => {
                        i.NestedExtension().TextBox(s => {
                            s.ShowModelErrors = true;
                            s.Properties.ValidationSettings.Display = Display.Dynamic;
                        });
                    });
                    g.Items.Add(m => m.Servid, i =>
                    {
                        i.NestedExtension().TextBox(s =>
                        {
                            s.ShowModelErrors = true;
                            s.Properties.ValidationSettings.Display = Display.Dynamic;
                        });
                        i.ColSpan = 2;

                    });
                    g.Items.Add(m => m.IdLpu, i => {
                        i.NestedExtension().TextBox(s => {
                            s.ShowModelErrors = true;
                            s.Properties.ValidationSettings.Display = Display.Dynamic;
                        });
                    });
                    g.Items.Add(i => {
                        i.ShowCaption = DefaultBoolean.False;
                        i.Width = Unit.Percentage(100);
                        i.HorizontalAlign = FormLayoutHorizontalAlign.Right;
                    }).SetNestedContent(() => {
                        ViewContext.Writer.Write("<table><tr><td style=\"padding-right:10px;\">");

                        Html.DevExpress().Button(s => {
                            s.Name = "Submit";
                            s.Width = Unit.Pixel(100);
                            s.Text = "Запросить";
                            s.UseSubmitBehavior = true;
                        }).Render();
                        
                        ViewContext.Writer.Write("</td></tr></table>");
                    });
                });
            }).GetHtml()
    }
@*<h3 class="col-lg-10">@ViewBag.Title</h3>
    @using (Html.BeginForm("Plan", "AviceN3Exam", FormMethod.Post))
    {

        @Html.HiddenFor(m => m.Guid)
        @Html.HiddenFor(m => m.IdLpu)
        @Html.LabelFor(m => m.IdPat, "Введите пациента №")
        <br />
        @Html.TextBoxFor(m => m.IdPat)
        <br /><br />
        @Html.LabelFor(m => m.Servid, "Введите диспансеризации номер")
        <br />
        @Html.TextBoxFor(m => m.Servid)
        <p><input type="submit" value="Отправить" /></p>
    }*@
</div>